.App {

  background-color: rgba(0, 255, 0, 0.164);
  box-shadow: 0 0 100px darkgreen;
}

body{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  background: lightgreen;
}

::-webkit-scrollbar-thumb{
  background: darkgreen;
}

p{
  margin: 0;
  padding: 0;
}

img{
  margin: 0;
  padding: 0;
  border: none;
}

label{
  color: lightgreen;
  font-size: calc(1vh + 1vw);
}

h1{
  color: lightgreen;
  font-size: calc(0.75vh + 0.75vw);
}

input{
  width: 100%;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.home-link{
  margin-top: 4vh;
  width: 80%;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px darkgreen;
  border-radius: 10px;
  border: darkgreen solid 2px;
  position: relative;
}

@media (max-width: 600px){
  .home-link{
    width: 100%;
  }
}

.home-buttons{
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.home-buttons > p {
  color: lightgreen;
  font-size: calc(2vh + 2vw);
}

#title1, #title2, #title3, #title4, #title5, #title6,
#howto1, #howto2, #howto3, #howto4, #howto5, #howto6{
  animation-name: text-appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#title1{
  animation-delay: 0.2s;
}

#title2{
  animation-delay: 1s;
}

#title3{
  animation-delay: 1.5s;
}

#title4{
  animation-delay: 2s;
}

#title5{
  animation-delay: 2.5s;
}

#title6{
  animation-delay: 3s;
}

#howto1{
  animation-delay: 0s;
}

#howto2{
  animation-delay: 1.5s;
}

#howto3{
  animation-delay: 3s;
}

#howto4{
  animation-delay: 4.5s;
}

#howto5{
  animation-delay: 6s;
}

#howto6{
  animation-delay: 7.5s;
}

@keyframes text-appear{
  from{opacity: 0;}
  to{opacity: 1;}
}

/********************************************************

            CREATE ROOM

********************************************************/
.create-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  height: 80%;
  margin-top: 4vh;
  margin-bottom: 4vh;
  border-radius: 10px;
  box-shadow: 0 0 20px darkgreen;
  border: darkgreen solid 2px;
}

.creation-form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-group > button, .styled-button{
  background-color: transparent;
  box-shadow: 0 0 20px darkgreen;
  border-radius: 10px;
  border: darkgreen solid 2px;
  font-size: calc(1vh + 1vw);
  color: lightgreen;
}

#password, #nickName, #roomName, #search{
  background-color: transparent;
  box-shadow: 0 0 20px darkgreen;
  border-radius: 10px;
  border: darkgreen solid 2px;
  font-size: calc(1vh + 1vw);
  color: lightgreen;
}

/********************************************************

                HOW TO

********************************************************/

.howto > p{
  color: lightgreen;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 3vh;
  font-size: calc(0.75vh + 0.75vw);
  line-height: 4vh;
}

.howto{
  box-shadow: 0 0 20px darkgreen;
  border-radius: 10px;
  border: darkgreen solid 2px;
}

/********************************************************

                JOIN

********************************************************/

.back-enter{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/********************************************************

                Room

********************************************************/

/* .message{
  animation-name: message-appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes message-appear{
  from{opacity: 0;}
  to{opacity: 1;}
} */

.msg-anim-enter{
  opacity: 0;
  transform: scale(0,0);
}

.msg-anim-enter-active{
  opacity: 1;
  transform: scale(1,1);
  transition: opacity 400ms ease-in, transform 200ms ease-in;
}